.completed {
	opacity: 0.5;
	text-decoration-line: line-through;
	text-decoration-color: rgba(220,9,9,1);
}

table.striped>tbody>tr:nth-child(odd) {
	background-color: rgba(195, 190, 190, 0.5);
}

.error {
	font-weight: bolder;
	color: red;
}

.indigo {
	width: 100%;
}

.nothing {
	text-align: center;
	font-weight: bolder;
	font-style: italic;
	padding-top: 30px;
}

#list th span {
	padding-left: 22px;
	margin-bottom: -5px;
}

.delete {
	cursor: pointer;
}

